<!-- DI root because the automagic ones are too magical-->
<!-- View-->
<ToolBar ViewModel="@_vmCompRoot.ToolBarVM" />
<br />
<BackgroundGrid ViewModel="@_vmCompRoot.BackgroundGridVM"/>

<h3>LayoutCAD</h3>

@code {
    // Intellisense seems to have flaked out in the components, so do the
    // heavy lifting in a regular class that we create an instance of
    private readonly VMCompositionRoot _vmCompRoot = new VMCompositionRoot();
}
